:local .statusIcon {
  border-radius: 0 !important;
  box-shadow: none !important;

  display: flex !important;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

@mixin button {
  max-width: 100%;
  white-space: nowrap;

  :global .bp3-button-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

:local .backendStatus {
  @include button;
}

:local .passwordPrompt {
  padding: 1rem 1rem .01rem 1rem;
}

:local .sourceInfo {
  @include button;
}

:local .base {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}